* {
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}

#leftLogo h1 {
    font-family: "Skranji";
}

#container {
    width: 100vw;
    height: 100vh;
    display: flex;
}

#left {
    width: 35%;
    height: 100%;
    background-color: green;
}

#legtLogo {

}

#right {
    height: 100%;
    width: 100%;
    background-color: blue;
}