* {
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}

#leftLogo h1 {
    font-family: "Skranji";
}

#container {
    width: 100vw;
    height: 100vh;
    display: flex;
}

#left {
    width: 40%;
    height: 100%;
    background-color: green;
}


#right {
    height: 100%;
    width: 100%;
    background-color: blue;
}

#left {
    background-image: url("images/splash.jpg");
    background-size: cover;
}

#top {
    width: 100%:
    
}