:root{
    --colorMain: #f5f5f5;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}

#leftLogo h1 {
    font-family: "Skranji";
}

#container {
    width: 100vw;
    height: 100vh;
    display: flex;
}

#left {
    width: 50%;
    height: 100%;
    background-color: green;
    position: relative;
}

#leftLogo {
    width: 100%;
    height: 200px;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    inset: 0;
    top: 20%;
    display: flex;
    align-items: center;
    justify-content: center;

}

#logo {
    width: 100%;
    height: 100%;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#logo img{
    width: auto;
    height: 80%;
}


#logo h1 {
    font-size: 80px;
    color: white;
    font-weight: 400;
}

#right {
    height: 100%;
    width: 100%;
    background-color: white;
}

#left {
    background-image: url("images/splash.jpg");
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#leftCredit {
    padding: 16px;
    display: flex-end;
}


#right {
    display: flex;
    flex-direction: column;
}

#top,#middle,#bottom{
    flex: 1;
}

#top {
    width: 100%;
}

#rightPara {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 80%;
    height: 100%;
}

#rightPara p {
    padding: 32px;
    font-size: 24px;
}

#rightPara p:last-child {
    padding: 0 0 64px 32px;
}

#middle {
z-index: 1;
  box-shadow: 8px 8px 8px rgba(0,0,0,0.1);
}



#top, #bottom{
    background-color: var(--colorMain);
}

#leftCredit p{
    color: white;
    font-size: 16px;
}

#bottom {
    height: 100%;
    width: 100%;
}

#buttonInfo {
    padding: 32px;
}

#buttonInfo p {
    padding-top: 24px;
}

#buttonInfo span {
    color: green;
    font-weight: bold;
}

#submitBtn {
    background-color: green;
    padding: 12px;
    padding-right: 24px;
    padding-left: 24px;
    border-radius: 8px;
    font-size: 16px;
    color: white;
    border: none;
    cursor: pointer;
}

#rightForm {
    width: 50%;
    height: 100%;
}

form {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    padding-left: 32px;
}

form .field {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 16px;
  padding-right: 32px;
}

#rightForm h1 {
    padding: 16px;
    font-size: 24px;
}

.field input {
    color: darkslategray;
    padding: 4px;
    border: 2px solid lightgray;
    border-radius: 4px;
}

.field label {
    font-weight: 500;
}

.field #confirm, .field #password{
    border: 2px solid red;
}